.searchbox-component {
  position: relative;
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';

  .searchbox-label {
    font-size: 0.875em;
    line-height: 30px;
    display: block;
    width: 100%;
  }
  .searchbox-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;

    .searchbox {
      border-radius: 0;
      background: #fefefe;
      border-color: #a9a9a9;
      border-style: solid;
      border-width: 1px;
      font-size: 0.813em;
      padding: 12px 10% 12px 2%;
      line-height: 15px;
      width: 100%;
    }

    .spinner {
      position: absolute;
      right: 12px;
      height: 24px;
      top: 8.5px;
    }
  }

  .searchbox-results {
    margin: 0;
    padding: 0;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    border: 1px solid #e6e6e6 !important;
    border-radius: 4px;
    width: 100%;
    position: absolute;

    .result {
      color: #989898;
      padding: 0;
      cursor: pointer;
      border-radius: 2px;
      border-bottom: 1px solid #eaeaea;
      list-style-type: none;

      &:hover {
        background-color: #dff6ff;
      }

      .result-link {
        padding: 10px 9px;
        white-space: nowrap;
        overflow: hidden;
        border-radius: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        top: 0;
        border: none;
        &:visited {
          color: #000;
        }
        .is-popular {
          margin-left: auto;
          background-color: #ffffff;
          border: 1px solid #00874d;
          color: #00874d;
          min-width: 62px;
          padding: 3px 5px;
          border-radius: 3px;
          text-align: center;
          font-weight: bold;
          font-size: 0.74375em;
          line-height: 1em;
        }

        .result-label {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          font-size: 0.875em;
          line-height: 1em;
          .result-label--subtitle {
            color: gray;
            font-size: 0.85em;
            margin-top: 2px;
            line-height: 1em;
          }
        }

        .type-tag {
          min-width: 62px;
          margin: 2px 10px 0 0;
          padding: 3px 5px;
          border-radius: 3px;
          border: 1px solid rgba(0, 0, 0, 0);
          text-align: center;
          color: #fff;
          font-size: 0.74375em;
          line-height: 1em;
          font-weight: 700;
          &.tag-Airport {
            background-color: #f2817f;
          }
          &.tag-District {
            background-color: #70d58e;
          }
          &.tag-City {
            background-color: #6eb8fa;
          }
          &.tag-Place {
            background-color: #ffa981;
          }
          &.tag-Station {
            background-color: #9d9dbb;
          }
        }
      }
    }
  }
}
