@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu:400,700');
@import './components/SearchBox/SearchBox.scss';

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

#root {
  height: 100vh;
  width: 100%;
}

.App {
  width: 100%;
  background-color: #f3ce56;
  border-bottom: 2px solid #dab129;
  padding: 26px;
  margin: 0 auto;

  h2 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important;
    font-weight: 700 !important;
    font-size: 2em;
    margin: 0;
    padding: 0 0 10px;
  }
}

@media (min-width: 600px) {
  .App {
    width: 500px;
  }
}
